@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
/*HEADER*/
.header__titulo {
    color: white;
    font-weight: 500;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
.header__logo {
    width: 80px;
    height: 70px;
    padding-right: 10px;
}
.nav-link {
    padding: 10px;
    color: #fff;
}
.list-inline-item:hover {
    transition: 1s;
    transform: scale(1.1);
}

/*FIN HEADER*/

/*MAIN*/
.main {
    background-image: url(../images/montana.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
}

.text-decoration-none {
    padding: 10px;
    color: #fff;
}
.text-decoration-none:hover {
    transition: 1s;
    transform: scale(1.2);
}
.lead {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.lead:hover {
    color: #31f420;
    line-height: 1.7;
}
/*FIN MAIN*/
/*PAGINAS*/
.rounded:hover {
    transition: 1s;
    transform: scale(1.2);
}
#flex {
    margin-top: 10%;
}
/*FOOTER*/
.footer {
    background-color: #f92a82;
    padding-top: 25px;
    padding-bottom: 15px;
    margin-top: 30px;
}
.hover:hover {
    transition: 1s;
    transform: scale(1.1);
}
